body {
	background-color: #1b1b1b;
/*	color: #ffffff;*/
	width: 100%;
	height: 100vh;
	margin: 0;
	color: #f5f6f7;
  	font-family: monospace;
/* 	font-size: 16px;*/
}

.menu {
	width: 100%;
	height: 50px;
	background: linear-gradient(#1b1b1b, #1b1b3D, #1b1b1b);
}

h1, p {
  	margin: 1px auto;
  	padding-bottom: 1em auto;
  	text-align: center;
}

p {
	padding-bottom: 2em;
}

form {
  	width: 60vw;
  	max-width: 700px;
  	min-width: 300px;
  	margin: 0 auto;
  	padding: 0 30px;
  	padding-bottom: 2em;
  	background-color: #1b1b3D;
  	border-radius: 10px;
}

fieldset {
	font-size: 20px;
  	border: none;
  	padding: 2rem 0;
/*  	border-bottom: 3px solid #3b3b4f;*/
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
/*  font-size: 1.2em;*/
}

input,
textarea,
select {
  font-size: 14px;
  margin: 10px 0 10px 0;
  width: 100%;
  min-height: 2.7em;
  border-radius: 5px;
  background-color: #0a0a23;
  color: #ffff0f;
  padding-left: 10px;
}

input, textarea {
  background-color: #0a0a23;
  border: 1px solid gray;
  color: #ffffff;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 100%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: green;
  border-color: white;
  min-width: 300px;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="number"]:hover{
	border-color: goldenrod;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus{
	outline: none;
	border: 1px double; goldenrod;
	box-shadow: 0 0 0 2px goldenrod;
}

input::placeholder {
	font-size: 16px;
}


select:hover {
	border-color: lightblue;
}

textarea:hover {
	border-color: lightblue;
}

textarea::placeholder {
	font-size: 18px;
}

select {
	font-size: 16px;
}

option{
	font-size: 16px;
}

